@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");

.active {
  opacity: 1;
}

.highlight:hover path {
  fill: #f48a88;
}

.menucategory:hover {
  color: #f48a88;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.display-linebreak {
  white-space: pre-line;
}
