@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap");

html,
body {
  overflow-x: hidden;
}

.active {
  opacity: 1;
}

.highlight {
  max-width: 160px;
}

.highlight:hover path {
  fill: #f48a88;
}

.menucategory:hover {
  color: #f48a88;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fbf8ed;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #f48a88;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
}

.display-linebreak {
  white-space: pre-line;
}
